<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{ url_for('static', path='/reset.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    >

    <script src="{{ url_for('static', path='/bootstrap.js') }}"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <title>Noted by Reives</title>
  </head>

  <body style="background-color: #f6f6f6;">
    <div class="main__container">
      <div class="task__viewport">{{ template | safe }}</div>

      {{task_id}}
      <div class="task__action_container" x-data="noted_actions('{{ task.task_id }}')">
        <button class="task__button task__button_accept" @click="advance('accept')">Accept</button>
        <button class="task__button task__button_decline" @onclick="advance('decline')">Decline</button>
        <button class="task__button task__button_ignore" @onclick="advance('ignore')">Ignore</button>
      </div>
    </div>

    <script>
      document.addEventListener('alpine:init', () => {
        init();
      })
    </script>
  </body>
</html>
